OPENAI_API_KEY=your_openai_api_key_here
SEHEL_PROJECT_ID=
SEHEL_WEBHOOK_URL=
SEHEL_TOTP_SECRET=your_totp_secret_key_here
GMAIL_USER=orencohengroup2020@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx
